/.ipynb_checkpoints
/best_cv_lgbmclf.pkl
/calcu_tolerance_data.csv
/catboost_info
/catboost_rfe.pkl
/elements.json
/featurize_data.ipynb
/featurize_data2.ipynb
/first_featurize_data.csv
/gbc_rfe.pkl
/lightbgm_rfe.pkl
/ljj式特征处理.ipynb
/material_atomic_feature.pkl
/matpie硬train一发.ipynb
/mp2116datas(containOs,Ir).csv
/mp_2116_data.csv
/mp_all_data.csv
/mp_formula_structure.csv
/process_view.ipynb
/promisingDatas中已报道的直接带隙材料.csv
/promising_Br_datas.csv
/promising_Br_datas_0.csv
/promising_Br_datas（脱敏）.csv
/promising_direct_gap_datas.csv
/promising_direct_gap_datas（脱敏）.csv
/rf_rfe.pkl
/位点特征训练(无价态离子半径信息).ipynb
/位点特征训练（最终版）.ipynb
/准备用来筛选的.json
/构建双钙钛矿空间.ipynb
/特征组合符号回归.ipynb
/能算出容忍因子的部分.csv
/随便测试（想找的在这）.ipynb
/预测稳定且取出特征空值的数据.csv
/预测稳定的材料（不包括容忍负数）.csv